.header {
	padding: 0.2rem;
	font-family: "Prata", serif;
	color: #302B2D;
	background-color: #E1DDD3;
	z-index: 999;
	position: fixed;
	width: 100%;
    top: 0px;

}

.header > object{
	left: 38%;
	position: fixed;

}

.header > svg{
	margin-top: 1.2em;
	margin-left:1.2em;

}

.header > h1 {
	font-size: 25px;
}

.header-margin {
	height: 5.5rem;
	background-color: #E1DDD3;



}
